In [1]:
import pandas as pd
from google.colab import drive
drive.mount('drive')

Mounted at drive

In [2]:
df = pd.read_csv('/content/drive/MyDrive/!!GeekBrains/!Разработчик/4 Python/9/california_housing_train.csv')
df.head()

,longitude,latitude,housingMedianAge,totalRooms,totalBedrooms,population,households,medianIncome,medianHouseValue
0,-114.31,34.19,15,5612,1283,1015,472,1.4936,66900
1,-114.47,34.40,19,7650,1901,1129,463,1.8200,80100
2,-114.56,33.69,17,720,174,333,117,1.6509,85700
3,-114.57,33.64,14,1501,337,515,226,3.1917,73400
4,-114.57,33.57,20,1454,326,624,262,1.9250,65500

######Определить среднюю стоимость дома, где кол-во людей от 0 до 500 (population).

In [5]:
df[df.population.between(0,501)].medianHouseValue.mean().round(2)

206868.62

###### Узнать какая максимальная households в зоне минимального значения population.

In [7]:
df[df.population == df.population.min()].households.max()

4